<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
			"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="cacheEnabled" value="false" />
		<setting name="useGeneratedKeys" value="true" />
		<setting name="defaultExecutorType" value="REUSE" />
	</settings>
	
	<typeAliases>
		
		
		<typeAlias alias="memberVO" type="com.githrd.deli.vo.memberVO"/>
		<typeAlias alias="placeVO" type="com.githrd.deli.vo.placeVO"/>
		<typeAlias alias="guestVO" type="com.githrd.deli.vo.guestVO"/>
		<typeAlias alias="calculatorVO" type="com.githrd.deli.vo.calculatorVO"/>
		<typeAlias alias="categoryVO" type="com.githrd.deli.vo.categoryVO"/>
		<typeAlias alias="restaurantVO" type="com.githrd.deli.vo.restaurantVO"/>
		<typeAlias alias="middleareaVO" type="com.githrd.deli.vo.middleareaVO"/>
		<typeAlias alias="faqVO" type="com.githrd.deli.vo.faqVO"/>
		<typeAlias alias="adminVO" type="com.githrd.deli.vo.adminVO"/>

		
	</typeAliases>
	
	
	<mappers>

		<mapper resource="com/githrd/deli/sql/memberSQL.xml"/>
		<mapper resource="com/githrd/deli/sql/placeSQL.xml"/>
		<mapper resource="com/githrd/deli/sql/categorySQL.xml"/>
		<mapper resource="com/githrd/deli/sql/restaurantSQL.xml"/>
		<mapper resource="com/githrd/deli/sql/middleareaSQL.xml"/>
		<mapper resource="com/githrd/deli/sql/faqSQL.xml"/>
		<mapper resource="com/githrd/deli/sql/adminSQL.xml"/>
		
	</mappers>
	

</configuration>